.logo {
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;
}

.button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 4rem;
}

.center {
    display: flex;
    justify-content: center;
}

.card {
    height: 40rem;
    width: 30rem;
}

.tablaNombres {
    width: 25rem;
}

.imagenescudo {
    height: 2.5rem;
}

body {
    font-size: 1.3rem;
}

.containner {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tamañoCar {
    width: 28rem;
    margin-left: 30rem;
}
